body {
  margin: 0;
  font-family: Arial, sans-serif;
 
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Light skin background with transparency */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header h2 {
  margin: 0;
}

.header-image {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  object-fit: cover;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
}

form label {
  align-self: flex-start;
  margin-top: 10px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
